@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --shadow-color: 255, 165, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-black;
}
.weather-icon {
  filter: drop-shadow(1px 0 0 rgb(var(--shadow-color)))  /* Right shadow */
          drop-shadow(0 1px 0 rgb(var(--shadow-color)))  /* Bottom shadow */
          drop-shadow(-1px 0 0 rgb(var(--shadow-color))) /* Left shadow */
          drop-shadow(0 -1px 0 rgb(var(--shadow-color))); /* Top shadow */
}