---
export const prerender = true;

import { Font } from "astro:assets";
import StepsChart from "../../components/StepsChart";
import "../../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <Font cssVariable="--font-anonymous" preload />
    <link rel="preload" as="fetch" href="/api/steps" crossorigin />
    <title>Steps Embed</title>
  </head>
  <body class="m-0 bg-transparent text-white font-anonymous font-bold">
    <main class="@container w-full h-svh [container-type:size]">
      <StepsChart client:load />
    </main>
  </body>
</html>
